extends layout

block nav
	nav.navbar.navbar-inverse.navbar-fixed-top
		.container-fluid
		.navbar-header
			button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
			span.sr-only Toggle navigation
			span.icon-bar
			span.icon-bar
			span.icon-bar
		a.navbar-brand(href='/user-list') POC Nodejs
		#navbar.navbar-collapse.collapse
			form.navbar-form.navbar-right(method="post",action="logout")
				a.btn.btn-success(style="margin:5px 1px",href="/user-list") Users
				a.btn.btn-success(style="margin:5px 8px;",href="/stats") Statistics
				a.btn.btn-success(style="margin:5px 1px;", href="/high-charts") HighCharts
				input.btn.btn-success(style="margin:5px 6px;",type='submit',value="Logout")
	.container
		.row
			.main
				.message(style="margin-top: 30px;padding: 4px;")
				h4(style="text-align: left") Welcome 
					u= email
				h1.page-header Tables
				.table-responsive
					table.table-bordered.table.table-striped
						thead
							tr
								th Email
								th Table

						tbody
							each user in users
								tr
									td(style="vertical-align: middle;")= user.email
									td
										table.table.table-bordered
											thead
												tr
													th Database Name
													th Result
											tbody
												each userdb in user.database
													tr
														th(style="vertical-align: middle;")= userdb.name
														td
															if userdb.permission == true
																if userdb.name == 'gdp'
																	table.table.table1
																		thead
																			tr
																				th Countries
																				th Ranking
																				th Economy
																				th US Dollar
																		tbody
																			each res in userdb.result
																				tr
																					td
																						if "country" in res
																							p= res.country
																					td
																						if "ranking" in res
																							p= res.ranking	
																					td
																						if "economy" in res
																							p= res.economy	
																					td
																						if "us_dollar" in res
																							p= res.us_dollar	
																else if userdb.name == 'population'
																	table.table.table1
																		thead
																			tr
																				th Country Code
																				th Rank
																				th Economy
																				th US Dollar
																		tbody
																			each res in userdb.result
																				tr
																					td
																						if "country_code" in res
																							p= res.country_code
																					td
																						if "rank" in res
																							p= res.rank	
																					td
																						if "economy" in res
																							p= res.economy	
																					td
																						if "dollar_thousands" in res
																							p= res.dollar_thousands	
																		
																else if userdb.name == 'unicef'
																	table.table.table1
																		thead
																			tr
																				th Organisation
																				th Project Title
																				th Currency
																				th Address
																				th Type Code
																			tbody
																				each res in userdb.result
																					tr
																						td
																							if "reporting_organisation" in res
																								p= res.reporting_organisation
																						td
																							if "aid_project_title" in res
																								p= res.aid_project_title	
																						td
																							if "default_currency_for_amounts" in res
																								p= res.default_currency_for_amounts	
																						td
																							if "contact_info_mailing_address" in res
																								p= res.contact_info_mailing_address
																						td
																							if "default_aid_type_code" in res
																								p= res.default_aid_type_code
																//else
															else
																p= 'No Permission'
		
																		