extends layout


block nav
	nav.navbar.navbar-inverse.navbar-fixed-top
		.container-fluid
		.navbar-header
			button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
			span.sr-only Toggle navigation
			span.icon-bar
			span.icon-bar
			span.icon-bar
		a.navbar-brand(href='/user-list') POC Nodejs
		#navbar.navbar-collapse.collapse
			form.navbar-form.navbar-right(method="post",action="logout")
				a.btn.btn-success(style="margin:5px 1px",href="/user-access") Tables
				a.btn.btn-success(style="margin:5px 8px;",href="/user-list") Users
				a.btn.btn-success(style="margin:5px 1px;",href="/stats") Statistics
				input.btn.btn-success(style="margin:5px 6px;",type='submit',value="Logout")
	.container
		.row
			.main
				.message(style="margin-top: 30px;padding: 4px;")
				h4(style="text-align: left") Welcome 
					u= email
				h1.page-header HighCharts
				div(id="container",style="min-width: 310px; height: 400px; margin: 0 auto")
				
block custom
	script(src='https://code.highcharts.com/highcharts.js')
	script(src='https://code.highcharts.com/modules/exporting.js')
	script(src='js/highchartsript.js')
		
																		