extends layout

block nav
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='user-list') POC Nodejs
        #navbar.navbar-collapse.collapse
          form.navbar-form.navbar-right(method="post",action="logout")
            a.btn.btn-success(style="margin:5px 11px",href="/user-access") Tables
            a.btn.btn-success(style="margin:5px -1px;",href="/stats") Statistics
            a.btn.btn-success(style="margin:5px 12px;",href="/high-charts") HighCharts
            input.btn.btn-success(type='submit',value="Logout")
    .container
      .row
        .main
          .message(style="margin-top: 30px;padding: 4px;")
          h4(style="text-align: left") Welcome 
           u= email
          h1.page-header Users
          .table-responsive
            table.table.table-striped
              thead
                -var access=0;
                each v in users
                  if v.email == email && v.access_level =="admin"
                    -access++;
                tr
                  th(style="text-align:left") Email
                  th gdp
                  th population
                  th unicef
                  if access == 1
                    th SUBMIT
              tbody
              each v,j in users
                tr
                -var k= v.database
                  td(name="email#{j}", id="email#{j}", value=v.email style="text-align:left")= v.email
                  each s in k
                   if s.name == "gdp"
                     td()
                       input(type="checkbox", id="gdpr#{j}", checked=(s.read == "true" ? true : false), disabled=(access == 1 ? false : true))
                       label(for="gdpr#{j}")   Read
                       br
                       input(type="checkbox", id="gdpw#{j}", checked=(s.write == "true" ? true : false), disabled=(access == 1 ? false : true))
                       label(for="gdpw#{j}")   Write
                   if s.name == "population"
                     td(class="")
                       input(type="checkbox", id="popr#{j}", checked=(s.read == "true" ? true : false), disabled=(access == 1 ? false : true))
                       label(for="popr#{j}")   Read
                       br
                       input(type="checkbox", id="popw#{j}", checked=(s.write == "true" ? true : false), disabled=(access == 1 ? false : true))
                       label(for="popw#{j}")   Write
                   if s.name == "unicef"
                     td(class="")
                       input(type="checkbox", id="unir#{j}", checked=(s.read == "true" ? true : false), disabled=(access == 1 ? false : true))
                       label(for="unir#{j}")   Read
                       br
                       input(type="checkbox", id="uniw#{j}", checked=(s.write == "true" ? true : false), disabled=(access == 1 ? false : true))
                       label(for="uniw#{j}")   Write
                  if access == 1
                    td
                      input.btn.btn-success(type="submit", name="sub#{j}" onclick="updateUser(#{j})")
block custom
  script(src='js/custom.js')

