extends layout
block nav
block content
	.top-content
		.inner-bg
			.container
				.row
					.col-sm-6.col-sm-offset-3.form-box
						.form-top
							.form-top-left
								h3(style="text-align:center") Login
								h4(style="text-align:center") Enter your email and password to log on.
							.form-top-right
						.form-bottom(style="height:266px")
							form.login-form(role='form', action='login', method='post')
								.form-group
									label.sr-only(for='form-username') Email
									input#form-username.form-username.form-control(type='text', name='email', placeholder='Email')
								.form-group
									label.sr-only(for='form-password') Password
									input#form-password.form-password.form-control(type='password', name='password', placeholder='Password')
								.form-group
									button.btn(type='submit') Sign in
								if status == 404
									small.col-md-12.col-sm-12.col-xs-12.alert.alert-danger(style="padding:0px ;text-align:center")
										| #{message}
block footer