doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    // CSS
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500')
    link(rel='stylesheet', href='bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='css/form-elements.css')
    link(rel='stylesheet', href='css/style.css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body
  block nav
  block content
block footer
// Javascript
script(src='js/jquery-1.11.1.min.js')
script(src='bootstrap/js/bootstrap.min.js')
script(src='js/jquery.backstretch.min.js')
script(src='js/scripts.js')
//if lt IE 10
//script(src='js/placeholder.js')
block custom
