extends layout


block nav
	script(src='js/protovis.js')
	nav.navbar.navbar-inverse.navbar-fixed-top
		.container-fluid
		.navbar-header
			button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
			span.sr-only Toggle navigation
			span.icon-bar
			span.icon-bar
			span.icon-bar
		a.navbar-brand(href='/user-list') POC Nodejs
		#navbar.navbar-collapse.collapse
			form.navbar-form.navbar-right(method="post",action="logout")
				a.btn.btn-success(style="margin:5px 1px",href="/user-access") Tables
				a.btn.btn-success(style="margin:5px 8px;",href="/user-list") Users
				a.btn.btn-success(style="margin:5px 1px;", href="/high-charts") HighCharts
				input.btn.btn-success(style="margin:5px 6px;",type='submit',value="Logout")
	.container
		.row
			.main
				.message(style="margin-top: 30px;padding: 4px;")
				h4(style="text-align: left") Welcome 
					u= email
				h1.page-header Statistics
				.table-responsive
					table.table-bordered.table.table-striped
						thead
							tr
								th Email
								th Table

						tbody
							each user in users
								tr
									td(style="vertical-align: middle;")= user.email
									td
										table.table.table-bordered
											thead
												tr
													th Database Name
													th Result
											tbody
												each userdb in user.database
													tr
														th(style="vertical-align: middle;")= userdb.name
														td
															if userdb.permission == true
																if userdb.name == 'gdp'
																	-var couname='';
																	-var rank='';
																	each res in userdb.result
																		if "country" in res
																			-couname+=res.country;
																		if "ranking" in res
																			if rank != ''
																				-rank+=', ';
																			-rank+=res.ranking;
																	span.fig
																		script(type='text/javascript+protovis').
																			var vis = new pv.Panel()
																				.width(200)
																				.height(150);

																			vis.add(pv.Rule)
																				.data(pv.range(0, 10, 1))
																				.bottom(function(d) d * 80 + .5)
																				.strokeStyle("#fff")
																				.anchor("left")
																				.add(pv.Label)


																			vis.add(pv.Bar)
																				.data([!{rank}])
																				.width(25)
																				.height(function(d) 100/d)
																				.bottom(0)
																				.left(function() this.index * 27 + 25)
																				.fillStyle("#339966")
																				.anchor("left").add(pv.Label)
																				.text(function() "!{couname}".substr(this.index*3,3))
																				.visible(function(d) d > 0);
																				

																			vis.add(pv.Label)
																				.left(75)
																				.top(16)
																				.textAlign("center")
																				.text("Bar Diagram");
																			
																			vis.render();

																			new pv.Panel()
																			.width(150)
																			.height(150)
																			.add(pv.Line)
																			.data([!{rank}])
																			.bottom(function(d) 100/d)
																			.left(function() this.index * 20 + 15)
																			.add(pv.Dot)
																			.root.render();
																	table.table.table1
																		thead
																			tr
																				th Countries
																				th Ranking
																				th Economy
																				th US Dollar
																		tbody
																			each res in userdb.result
																				tr
																					td
																						if "country" in res
																							p= res.country
																					td
																						if "ranking" in res
																							p= res.ranking	
																					td
																						if "economy" in res
																							p= res.economy	
																					td
																						if "us_dollar" in res
																							p= res.us_dollar	
																else if userdb.name == 'population'
																	-var couname='';
																	-var rank='';
																	each res in userdb.result
																		if "country_code" in res
																			-couname+=res.country_code;
																		if "rank" in res
																			if rank != ''
																				-rank+=', ';
																			-rank+=res.rank;
																	span.fig
																		script(type='text/javascript+protovis').
																			var vis = new pv.Panel()
																				.width(200)
																				.height(150);

																			vis.add(pv.Rule)
																				.data(pv.range(0, 10, 1))
																				.bottom(function(d) d * 80 + .5)
																				.strokeStyle("#fff")
																				.anchor("left")
																				.add(pv.Label)


																			vis.add(pv.Bar)
																				.data([!{rank}])
																				.width(25)
																				.height(function(d) 100/d)
																				.bottom(0)
																				.left(function() this.index * 27 + 25)
																				.fillStyle("#66ff66")
																				.anchor("left").add(pv.Label)
																				.text(function() "!{couname}".substr(this.index*3,3))
																				.visible(function(d) d > 0);
																			vis.add(pv.Label)
																				.left(75)
																				.top(16)
																				.textAlign("center")
																				.text("Bar Diagram");

																				vis.render();

																			new pv.Panel()
																				.width(150)
																				.height(150)
																				.add(pv.Line)
																				.data([!{rank}])
																				.bottom(function(d) 100/d)
																				.left(function() this.index * 20 + 15)
																				.add(pv.Dot)
																				.root.render();
																	table.table.table1
																		thead
																			tr
																				th Country Code
																				th Rank
																				th Economy
																				th US Dollar
																		tbody
																			each res in userdb.result
																				tr
																					td
																						if "country_code" in res
																							p= res.country_code
																					td
																						if "rank" in res
																							p= res.rank	
																					td
																						if "economy" in res
																							p= res.economy	
																					td
																						if "dollar_thousands" in res
																							p= res.dollar_thousands	
																		
																else if userdb.name == 'unicef'
																	table.table.table1
																		thead
																			tr
																				th Organisation
																				th Project Title
																				th Currency
																				th Address
																				th Type Code
																			tbody
																				each res in userdb.result
																					tr
																						td
																							if "reporting_organisation" in res
																								p= res.reporting_organisation
																						td
																							if "aid_project_title" in res
																								p= res.aid_project_title	
																						td
																							if "default_currency_for_amounts" in res
																								p= res.default_currency_for_amounts	
																						td
																							if "contact_info_mailing_address" in res
																								p= res.contact_info_mailing_address
																						td
																							if "default_aid_type_code" in res
																								p= res.default_aid_type_code
																//else
															else
																p= 'No Permission'
		
																		